.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* overflow: auto; */
    background: #252a33; /* Just to visualize the extent */
}

.text {
    color: #eee;
}

.list {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 30px;
}
